<a href="https://colab.research.google.com/github/Anand-s-cmd/Deep_learning_POCS/blob/main/Churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
data_set=pd.read_csv('/content/drive/MyDrive/Deep_learning_things/Churn_Modelling.csv')

In [20]:
data_set.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [21]:
X = data_set.iloc[:, 3:13]
y = data_set.iloc[:, 13]

In [22]:
#Create dummy variables for Categorical features
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X["Gender"],drop_first=True)

In [23]:
## Concatenate the Data Frames now i,e geography & gender
X=pd.concat([X,geography,gender],axis=1)

In [24]:
X.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0

[5 rows x 13 columns]

In [25]:
X=X.drop(['Geography','Gender'],axis=1)

In [23]:
X.head(2)

   CreditScore  Age  Tenure   Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2      0.00  ...        101348.88        0      0     0
1          608   41       1  83807.86  ...        112542.58        0      1     0

[2 rows x 11 columns]

In [26]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [27]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test =sc.fit_transform(X_test)

In [29]:
# Part 2 - Now let's make the ANN!

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [30]:
# Initialising the ANN

classifier=Sequential() # my empty neural network it is